@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "footer";
@import "latest_songs.scss";
@import "stats.scss";
@import "_variables.scss";

html {
  font-family: Raleway,sans-serif;
}

body {
  background-color: $body_color;
  margin: 0;
  padding: 0;
}

header {
  padding: 0 20px;
}

main {
  display: grid;
  grid-template-columns: auto 200px;
  grid-column-gap: 20px;
  padding: 0 20px;

  @media(max-width: $mobile) {
    display: flex;
    flex-direction:column;
  }
}

.section-title {
  margin-bottom: 0;
}

.section-subtitle {
  font-style: italic;
}





