@import "variables";

ul.latest-songs-list {
  list-style: none;
  padding: 0;

  li.song-card {
    display: grid;
    grid-template-columns: 40px auto;
    font-size: 12px;
    margin: 4px 0;
    background-color: $accent_color;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 400ms ease, transform 120ms ease;

    &:nth-child(7) { opacity: 0.8;}
    &:nth-child(8) { opacity: 0.6;}
    &:nth-child(9) { opacity: 0.4;}
    &:nth-child(10) { opacity: 0.2;}
    &:hover {
      opacity: 1;
      @media(min-width: $mobile) { transform: translateX(-10px); }
    }

    img {
      width: 40px;
      height: 40px;
    }

    .song-details {
      line-height: 12px;
      padding-left: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p { margin: 1px;}
    }
  }
}