@import "variables";

ul.most-played-artists {
  list-style: none;
  padding: 0;

  li {
    $img_size: 60px;

    display: grid;
    max-width: $img_size + 400px + 60px;
    grid-template-columns: $img_size minmax(auto, 400px) 60px;
    grid-column-gap: 4px;
    margin: 4px 0;
    background-color: $accent_color;
    opacity: 0.85;
    transition: opacity 400ms ease;
    cursor: pointer;
    color: white;

    &:hover {
      opacity: 1;
      p.percent {
        transform: scale(1.1) rotate(20deg) translateY(4px);
      }
    }

    p.percent {
      font-size: 16px;
      transition: all 200ms ease;
    }

    img {
      width: $img_size;
      height: $img_size;
    }
  }
}